- if logged_in? 
  %h1 All task
  = will_paginate @tasks
  %table.table
    %thead
      %tr
        %th
          Id
        %th 
          Created At
        %th 
          Name
        %th
          User
    %tbody
      - @tasks.each do |task|
        %tr
          %td
            = task.id
          %td
            = task.created_at
          %td
            = link_to task.name, user_task_path(task.user, task)
          %td
            = link_to task.user.email, user_path(task.user)
  = will_paginate @tasks
- else 
  .center.jumbotron
    %h1 
      Welcome to the YATM 
    = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
    %h2 
      or login with 
    .row 
      .col-md-4.col-md-offset-1
        %span
          login: admin@example.com
        %span
          password: password
      .col-md-4.col-md-offset-2
        %span
          login: user@example.com
        %span
          password: password
