%h1 Task
.task  
  %span 
    ID:
    = @task.id
  %span
    Name:
    = @task.name
  %span
    Description:
    = @task.description
  %span
    Created at:
    = @task.created_at
  %span
    State:
    = @task.state
  %span
    - if @task.file?
      - if @task.file_is_image?
        = image_tag @task.file.url 
      - else
        = link_to File.basename(@task.file.path), @task.file.url