%section.user_info
  %h1
    = @user.email
  - if correct_task_user?
    %h2
      = link_to 'New task', new_user_task_path(@user)      
= will_paginate @tasks
%table.table
  %thead
    %tr
      %th
        Id
      %th 
        Created At
      %th 
        Name
      - if @user.admin?
        %th 
          User
      %th
        State
      - if correct_task_user?
        %th
          Change State
      %th 
        Description
      %th
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td
          = task.id
        %td
          = task.created_at
        %td
          = link_to task.name, user_task_path(task.user, task)
        - if current_user.admin?
          %td
            = link_to task.user.email, task.user
        %td
          %span{ class: "label label-#{task_state_to_css_class(task.state)}" }
            = task.state
        - if correct_task_user?
          %td 
            = render(partial: 'tasks/state_form', locals: { task: task })
        %td
          = task.description
        - if correct_task_user?
          %td
            = link_to 'edit', edit_user_task_path(task.user, task)
          %td
            = link_to 'delete', user_task_path(task.user, task), method: :delete, data: { confirm: 'You sure?' }
= will_paginate @tasks

